<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.oook.lottery.commons.db.mapper.CardGameProductMapper">
  <resultMap id="BaseResultMap" type="fun.oook.lottery.commons.db.entity.CardGameProduct">
    <!--@mbg.generated-->
    <!--@Table card_game_product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gameid" jdbcType="INTEGER" property="gameid" />
    <result column="productid" jdbcType="INTEGER" property="productid" />
    <result column="amount" jdbcType="SMALLINT" property="amount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gameid, productid, amount
  </sql>
  <select id="selectByExample" parameterType="fun.oook.lottery.commons.db.entity.CardGameProductExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from card_game_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from card_game_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from card_game_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="fun.oook.lottery.commons.db.entity.CardGameProductExample">
    <!--@mbg.generated-->
    delete from card_game_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="fun.oook.lottery.commons.db.entity.CardGameProduct" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into card_game_product (gameid, productid, amount
      )
    values (#{gameid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{amount,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="fun.oook.lottery.commons.db.entity.CardGameProduct" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into card_game_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameid != null">
        gameid,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameid != null">
        #{gameid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="fun.oook.lottery.commons.db.entity.CardGameProductExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from card_game_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update card_game_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gameid != null">
        gameid = #{record.gameid,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null">
        productid = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update card_game_product
    set id = #{record.id,jdbcType=INTEGER},
      gameid = #{record.gameid,jdbcType=INTEGER},
      productid = #{record.productid,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="fun.oook.lottery.commons.db.entity.CardGameProduct">
    <!--@mbg.generated-->
    update card_game_product
    <set>
      <if test="gameid != null">
        gameid = #{gameid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="fun.oook.lottery.commons.db.entity.CardGameProduct">
    <!--@mbg.generated-->
    update card_game_product
    set gameid = #{gameid,jdbcType=INTEGER},
      productid = #{productid,jdbcType=INTEGER},
      amount = #{amount,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>